pre {
    overflow: auto;
}

pre.highlight {
    overflow: visible;
    font-size: large;
    padding: 1em;
    background: rgb(242,242,242);
    background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.button {
    display: inline-block;
    background-color: #404040;
    color: white;
    text-align: center;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.button:lastchild {
    margin-right: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
