<nav aria-label="Contact">
    <a class="u-email email" href="mailto:d@rio.hn">d@rio.hn</a>
    <a class="u-url url" href="https://bsky.app/profile/dario.cat" rel="me">Bluesky</a>
    <a class="u-url url" href="https://mastodont.cat/@dario" rel="me">Fediverse</a>
    <a class="u-url url" href="https://github.com/darccio" rel="me">GitHub</a>
    <a class="u-url url" href="https://linkedin.com/in/darccio" rel="me">LinkedIn</a>
    <a class="u-url url" href="https://rizoma.dario.cat/" rel="me">Substack</a>
</nav>